<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quancheng.saluki.gateway.zuul.dao.GrpcDao">

	<select id="get" resultType="com.quancheng.saluki.gateway.zuul.domain.GrpcDO">
		select
		`id`,`package_name`,`service_name`,`method_name`,`service_group`,`service_version`
		,`proto_context`,`proto_req`,`proto_rep`,`gmt_create` ,`gmt_modified`
		from gateway_grpc
		where id
		=#{value}
	</select>

	<select id="list" resultType="com.quancheng.saluki.gateway.zuul.domain.GrpcDO">
		select
		`id`,`package_name`,`service_name`,`method_name`,`service_group`,`service_version`
		,`proto_context`,`proto_req`,`proto_rep`,`gmt_create` ,`gmt_modified`
		from gateway_grpc
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="packageName != null and packageName != ''"> and package_name = #{packageName} </if>
			<if test="serviceName != null and serviceName != ''"> and service_name = #{serviceName} </if>
			<if test="methodName != null and methodName != ''"> and method_name = #{methodName} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from gateway_grpc
		<where>
		    <if test="packageName != null and packageName != ''"> and package_name = #{packageName} </if>
			<if test="serviceName != null and serviceName != ''"> and service_name = #{serviceName} </if>
			<if test="methodName != null and methodName != ''"> and method_name = #{methodName} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.quancheng.saluki.gateway.zuul.domain.GrpcDO"
		useGeneratedKeys="true" keyProperty="id">
		insert into gateway_grpc
		(
		`package_name`,
		`service_name`,
		`method_name` ,
		`service_group`,
		`service_version`
		`proto_context` ,
		`proto_req`,
		`proto_rep`,
		`gmt_create` ,
		`gmt_modified`
		)
		values
		(
		#{packageName},
		#{serviceName},
		#{methodName},
		#{serviceGroup},
		#{serviceVersion},
		#{protoContext},
		#{protoReq},
		#{protoRep},
		sysdate(),
		sysdate()
		)
	</insert>

	<update id="update" parameterType="com.quancheng.saluki.gateway.zuul.domain.GrpcDO">
		update gateway_grpc
		<set>
		    <if test="packageName != null and packageName != ''"> and package_name = #{packageName} </if>
			<if test="serviceName != null and serviceName != ''">`service_name`=#{serviceName},</if>
			<if test="methodName != null and methodName != ''">`method_name`=#{methodName},</if>
			<if test="serviceGroup != null and serviceGroup != ''">`service_group`=#{serviceGroup},</if>
			<if test="serviceVersion != null and serviceVersion != ''">`service_version`=#{serviceVersion},</if>
			<if test="protoContext != null and protoContext != ''">`proto_context` =#{protoContext},</if>
			<if test="protoReq != null and protoReq != ''">`proto_req`=#{protoReq},</if>
			<if test="protoRep != null and protoRep != ''">`proto_rep`=#{protoRep},</if>
			`gmt_modified`=sysdate()
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from gateway_grpc where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from gateway_grpc where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
</mapper>