<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quancheng.saluki.gateway.persistence.filter.dao.RouteDao">

	<select id="get"
		resultType="com.quancheng.saluki.gateway.persistence.filter.domain.RouteDO">
		select
		`id`,`from_path`,`to_hostport`,`to_path`,`service_id`,`rpc`,`gmt_create`,`gmt_modified`
		from gateway_route
		where
		id = #{value}
	</select>


	<select id="load"
		resultType="com.quancheng.saluki.gateway.persistence.filter.domain.RouteDO">
		select
		`id`,`from_path`,`to_hostport`,`to_path`,`service_id`,`rpc`,`gmt_create`,`gmt_modified`
		from gateway_route
		where
		from_path = #{value} or from_pathpattern like
		concat(concat(#{value},'%'))
	</select>

	<select id="list"
		resultType="com.quancheng.saluki.gateway.persistence.filter.domain.RouteDO">
		select
		`id`,`from_path`,`to_hostport`,`to_path`,`service_id`,`rpc`,`gmt_create`,`gmt_modified`
		from gateway_route
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="fromPath != null and fromPath != ''"> and from_path = #{fromPath} </if>
			<if test="toHostport != null and toHostport != ''"> and to_hostport = #{toHostport} </if>
			<if test="toPath != null and toPath != ''"> and to_path = #{toPath} </if>
			<if test="serviceId != null and serviceId != ''"> and service_id = #{serviceId} </if>
			<if test="rpc != null and rpc != ''"> and rpc = #{rpc} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from gateway_route
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="fromPath != null and fromPath != ''"> and from_path = #{fromPath} </if>
			<if test="toHostport != null and toHostport != ''"> and to_hostport = #{toHostport} </if>
			<if test="toPath != null and toPath != ''"> and to_path = #{toPath} </if>
			<if test="serviceId != null and serviceId != ''"> and service_id = #{serviceId} </if>
			<if test="rpc != null and rpc != ''"> and rpc = #{rpc} </if>
		</where>
	</select>

	<insert id="save"
		parameterType="com.quancheng.saluki.gateway.persistence.filter.domain.RouteDO"
		useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into gateway_route
		(
		`from_path`,
		`to_hostport`,
		`to_path`,
		`service_id`,
		`rpc`,
		`gmt_create`,
		`gmt_modified`
		)
		values
		(
		#{fromPath},
		#{toHostport},
		#{toPath},
		#{serviceId},
		#{rpc},
		sysdate(),
		sysdate()
		)
	</insert>

	<update id="update"
		parameterType="com.quancheng.saluki.gateway.persistence.filter.domain.RouteDO">
		update gateway_route
		<set>
			<if test="fromPath != null and fromPath != ''"> from_path = #{fromPath} </if>
			<if test="toHostport != null and toHostport != ''"> to_hostport = #{toHostport} </if>
			<if test="toPath != null and toPath != ''"> to_path = #{toPath} </if>
			<if test="serviceId != null and serviceId != ''"> service_id = #{serviceId} </if>
			<if test="rpc != null and rpc != ''"> rpc = #{rpc} </if>
			`gmt_modified`=sysdate()
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from gateway_route where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from gateway_route where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
</mapper>